<div class="aside">
  <div class="container-fluid">
    <nav>
      <ul>
        <li><a routerLink="/dentistes" routerLinkActive="active"><span><i class="fa-solid fa-tooth"></i></span> Dentistes</a></li>
        <li><a routerLink="/patients" routerLinkActive="active"><span><i class="fa-solid fa-user-injured"></i></span> Patients</a></li>
        <li><a routerLink="/rendezvous" routerLinkActive="active"><span><i class="fa-solid fa-calendar-check"></i></span> Rendez Vous</a></li>
      </ul>
    </nav>
  </div>
</div>
